<style>
.left-text {
    /* position: relative; */
    text-align: left;
    top: 30%;
    width: 100%;
    color: #000;
    
}
</style>
<div id = "header" style="height:100px; background:#7986CB;">
	
	<div id = "classroom" style="padding:25px; color:#ffffff; font-size:2.0em">
		
		<span style="padding: 0px 20px;">
		Share&amp;Learn</span>
	</div>
	
</div>

<div class="container" align = "center" >
    <div class="row" align="center" style="margin:3% 12%;">
        
         Hello World
        <button ng-click="download('hello')">Download</button>
    </div>
            			
	</div>
    
</div>

<!-- <div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <ul type="disc">
            <li>Address: Unit 10, Sydney, NSW, Australia</li>
            <li>Phone: 1111 2222</li>
            <li>Fax: 4444 5555</li>
        </ul>
    </div>
    
    <a ng-href= "#gallery">jhbhj</a>
</div> -->
